body {
    margin: 0;
    padding: 0;
  }
  
  .pdfViewer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
  }
  .pdfViewer{
    width : 500px;
    height : 250px;
    border: 2px solid rgb(31, 8, 8) ;
    margin-left: 50px;
    margin-top: 50px;
  }